@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

$orange:  linear-gradient(2.79deg, #F35F2F -13.68%, rgba(243, 95, 47, 0.75) 121.16%);

$black: #3D3D3F;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
}
.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}
li {
    list-style: none;
}
::-webkit-scrollbar{
    width: 12px;
    background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb{
    background-color: #CACACA;
    border-radius: 10px;
}

@import './general';